name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.20.3

    - name: Format
      run: |
        make format
        git diff --exit-code

    - name: Install ZMQ
      run: sudo apt update -y && sudo apt upgrade -y && sudo apt install libsodium-dev libzmq3-dev

    - name: Test
      run: make test

    - name: Integration Test
      run: make integration
