name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.25.0

    - name: Set up protoc
      run: |
        wget https://github.com/protocolbuffers/protobuf/releases/download/v29.0/protoc-29.0-linux-x86_64.zip
        unzip protoc-29.0-linux-x86_64.zip
        sudo mv bin/protoc /usr/local/bin/protoc
        sudo mv include/* /usr/local/include/

    - name: Install protoc-gen-go
      run: go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.36.0

    - name: Generated protofiles are up to date
      run: |
        make generate-protos
        git diff --exit-code

    - name: No formatting changes
      run: |
        make format
        git diff --exit-code

    - name: Install ZMQ
      run: sudo apt update -y && sudo apt upgrade -y && sudo apt install libsodium-dev libzmq3-dev
    
    - name: Setup golangci-lint
      uses: golangci/golangci-lint-action@v7
      with:
        version: v1.64.8

    - name: Linter passes
      run: make linters

    - name: Test
      run: make test

    - name: Integration Test
      run: make integration
